*{margin: 0;
padding: 0;}


/*index*/

body{font-family: 'Yellowtail', cursive;}



/*index-2*/

.head{color:#FFFDA9;
font-size:30px;}

.head span{color:yellow;}


.banner{background-image:url('images/HNYImg.jpg');
height:620px;
background-repeat:no-repeat;
background-position:center;
background-size:cover;}

.banner1 img{width:10%;
	transition:2s;
	margin-left:50px;
	margin-top:30px;}

.banner1 img:hover{transform:scale(2);}


.btext{margin-left:30px;
	margin-top:30px;
	font-size:30px;
color:rgb(47, 234, 32);}

.btext img{width:4%;
border-radius:20px;
transition:2s;
margin-left:290px;
float: left; 
margin-top:20px;
margin-right:55px;}

.btext img:hover{transform:scale(2.5);}

.btext p span{transition:2s;
color:#FFFDA9;}

.btext p span:hover{transform:scale(1.5);}



